<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF30D78C1CBA12FE00E41E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF30D7A51CBA12FE00E41E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF30D7B01CBA12FE00E41E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
