<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<booleanAttribute key="ATTR_CLEAN_BEFORE_LAUNCH" value="false"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="week3map"/>
<stringAttribute key="device_id" value="26A2BFB3-686B-42ED-8AF5-A9568AAFAC87"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/week3map"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="9.3"/>
<stringAttribute key="simulator_version" value="9.3"/>
</launchConfiguration>
