<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>week2weatherApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF97270B1CC3C52200612C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9727241CC3C52200612C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF97272F1CC3C52200612C25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
